body{
  background-color: #04a6eb;
  color:#fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button{
  padding: 5px 20px;
  color: #fdffff;
  background-color: #337ab7;
  border-style: none;
}
input{
  height: 30px;

}
.container {
  width: 90%;          /* 幅を指定（スマホ対応のため%やmax-widthがおすすめ） */
  max-width: 1000px;   /* 最大幅（これ以上広がらないようにする） */
  margin: 0 auto;      /* 上下は0、左右は自動（これで中央になります） */
}

